.nav-wrapper {
  padding: 0px 60px;
  box-sizing: border-box;
}

.notesList {
  padding: 20px;
  margin-top: 60px;
  height: calc(100vh - 155px);
  overflow-y: auto;
}

.note {
  padding: 10px;
  margin-bottom: 30px;
  border-bottom: 1px solid #80808033;
}

.form-container form {
  padding: 20px;
  margin: 60px 20px 0px;
}

.mt-70 {
  margin-top: 70px;
}
