*{margin: 0px;
    font-family:'Trebuchet MS';
}
header{
    background-color: #151515;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 5px; 
    box-sizing: border-box;
}

#logo{
    float: left;
    width: 30%;
}
#navigation{
    color: #ffffff ;
    float: right;
    width: 44%;
}
#navigation ul li{
    float:left;
    list-style-type: none; 
    margin-right: 7%;
    padding-top: 28px;
    font-size: 18px;
}
#navigation ul li:hover{
    cursor: pointer;
    color: skyblue;
}
#background{
    background-image: url("../new images/banner.jpg");
    height: 420px;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    margin-bottom: 3%;
    padding: 70px 10%;
}
#background h1{
    font-size: 75px;
    margin-bottom: 10px;
}
#background p{
    font-size: 16px;
    padding-bottom: 20px;
}
#background h5{
    background-color: #4eaf05;
    width: 10%;
    padding: 10px 20px;
}
#background h5:hover{
    cursor: pointer;
    color: skyblue;
}
#main{
    width: 80%;
    margin: 0px auto;
}
#sub-container{
    border-bottom: 2px solid #d2d2d2;
    padding-bottom: 90px;
}
.items{
    float: left;
    width: 30%;
    margin-right: 3%;
    text-align: center;
}
#sub-container h4{
    font-size: 28px;
    margin-top: 8px;
    margin-bottom: 10px;
    color: #888888;
}
#sub-container p{
    color: #888888;
 
}
#heading{
    width: 23%;
    background-color: green;
    color:white;
    margin-left: 35%;
    font-size: 18px;
    text-align: center;
    margin-top: -15px; 
    padding: 2px 14px;
}

#in-container{
    border-bottom:2px solid #d2d2d2 ;
    padding-bottom: 70px;
}
#image-1 img{
    width:35%;
    padding-top: 3%;
    float: left;
    padding-right: 30px;
}
.testimonials{
    padding-top: 6%;
    color: #c9b9b9;
}
#heading-1{
    width: 20%;
    background-color: green;
    color:white;
    margin-left: 36%;
    font-size: 18px;    
    text-align: center;
    margin-top: -15px; 
    padding: 2px 14px;
}
#box{
    margin-top: 5%;
    width: 30%;
    float:left;
}
#on-container{
   color: #8f8c92;
   height: 250px;
   float: left;
   width: 80%;
}
.p1{
    margin-bottom: 30px;
}
.p1 img{
    float:left;
    margin-right: 10px;
}
.p1 p{
    padding-top:8px;  
}
.p2 img{
    float:left;
    margin-top: -7px;
    margin-right: 15px;
}
.p3{
    margin-top: 30px;
}
.p3 img{
    float: left;
    margin-top: -7px;
    margin-right: 10px;
    margin-left: 3px;
}
#map img{
    float: right;
    margin-top: -24%;;
}
#photo{
    margin-top: 70px;
    padding-bottom: 25%;
}
.clearfix::after{
    display: table;
    content: "";
    clear: both;
}
@media(max-width: 1200px){
    header{
        height: auto;
    }

      #navigation ul li{
        float: none;
        margin-bottom: 20px;
        margin-left: -50px;
    }
    #logo{
        width: 100%;
        float: none;   
        text-align: center;
    }
    
    #navigation ul{
        padding: 0px;
        margin-right: 20px;
    }
    #map img{
        width: 100%;
        float: none;
    }
    #on-container{
        float: inherit;
        width: 175%;
    }
    }

    @media (max-width: 1050px){
    #background h1{
        font-size: 30px;    
        text-align: center;
    }
    #background p{
        text-align: center;
    }
    #background{
        height: auto;
    }
    #background h5{
        text-align: center;
        margin: auto auto;
        font-size: 15px;
        width: 27%;
    }
  
}
@media(max-width:1000px){
    .items{
        width: 100%;
        float: none;
        margin-bottom: 20px;
    }
    #sub-container h4{
        font-size: 20px;
    }
   
}
@media(max-width:900px){
     #heading{
        width: 40%;
        margin: auto;
        margin-top: -15px;
        font-size: 15px;
        margin-bottom: 20px;
    }
    #image-1 img{
        width:100%;
        float: none;
        margin-bottom: 20px;
    }
    .testimonials{
        text-align: center;
    }
    #heading-1{
        width: 40%;
        margin: auto;
        margin-top: -15px;
        font-size: 15px;
        margin-bottom: 20px;
      

    }
}