/** @format */

.styling {
  width: 100%;
  background-color: black;
  color: white;
  height: 78px;
  display: flex;
  justify-content: space-between;
  padding: 0px 15px;
  padding-right: 40px;
  box-sizing: border-box;
  align-items: center;
}

#style {
  display: flex;
  width: 85%;
  color: white;
  list-style-type: none;
  gap: 30px;
  align-items: center;
}
.container {
  width: 90%;
  margin: 0px auto;
}

#heading {
  padding-left: 25px;
  text-decoration: underline;
  font-size: 40px;
  color: blue;
}
.container2 {
  width: 80%;
  margin-left: 80px;
}
