*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Neuehaasdisplay mediu",sans-serif;
}

html, body {
    height: 100%;
    width: 100%;
}

#main {
    /* background-color: #000; */
    position: relative;
    z-index: 10;
}

#page1 {
    min-height: 100vh;
    width: 100%;
    background-color: #EFEAE3;
    position: relative;
    padding: 0 2vw;
}

nav {
    padding: 2vw 0vw;
    width: 100%;
    /* background-color: red; */
    display: flex;
    align-items: center;
    position: relative;
    z-index: 100;
    justify-content: space-between;
}

nav h5{
    display: none;
}

#header img{
    transition: all 1s ease 1s;
}

#haeding{
    font-size: 64px;
    text-align: right;
    line-height: 104px;
    width: 50%;
    position: relative;
    z-index: 10;
}

#nav-part2 {
    display: flex;
    align-items: center;
    gap: 1vw;
}

#nav-part2 h4 {
    padding: 10px 20px;
    border: 1px solid #0000003c;
    border-radius: 50px;
    font-weight: 500;
    color: #000000bb;
    transition: all ease 0.4s;
    position: relative;
    font-size: 18px;
    overflow: hidden;
}

#nav-part2 h4::after {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: black;
    left: 0;
    bottom: -100%;
    border-radius: 50%;
    transition: all ease 0.4s;
}

#nav-part2 h4:hover::after {
    bottom: 0;
    border-radius: 0;
}

#nav-part2 h4 a {
    color: #000000bb;
    text-decoration: none;
    position: relative;
    z-index: 9;
}

#nav-part2 h4:hover a {
    color: #fff;
}

nav h3 {
    display: none;
}

#center {
    height: 37rem;
    width: 100%;
    /* background-color: orange; */
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    border-bottom: 1px solid #0000003c;
    padding-bottom: 2.5vw;
}

#left h3 {
    width: 71%;
    font-size: 42px;
    line-height: 43px;
}

#center h1 {
    font-size: 10vw;
    text-align: right;
    line-height: 8vw;
}

#page1 video {
    position: relative;
    border-radius: 30px;
    margin-top: 4vw;
    width: 100%;
}

#hero-shape {
    position: absolute;
    width: 46vw;
    height: 36vw;
    right: 0;
    top: 36%;
}

#hero-1 {
    background-color: blueviolet;
    height: 100%;
    width: 100%;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    filter: blur(10px);
    position: absolute;
}

#hero-2 {
    background: linear-gradient(#5b0afeaf, #1221c4ab);

    height: 30vw;
    width: 30vw;
    border-radius: 50%;
    position: absolute;
    animation-name: anime2;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    filter: blur(25px);
}

#hero-3 {
    background: linear-gradient(#5b0afeaf, #1221c4ab);
    height: 30vw;
    position: absolute;
    width: 30vw;
    border-radius: 50%;
    filter: blur(25px);
    animation-name: anime1;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes anime1 {
    from {
        transform: translate(55%, -3%);
    }

    to {
        transform: translate(0%, 10%);
    }
}

@keyframes anime2 {
    from {
        transform: translate(5%, -5%);
    }

    to {
        transform: translate(-20%, 30%);
    }
}

#page2 {
    min-height: 100vh;
    width: 100%;
    background-color: #EFEAE3;
    padding: 8vw 0;
    position: relative;
}

#moving-text {
    overflow-x: auto;
    white-space: nowrap;
}

#moving-text::-webkit-scrollbar {
    display: none;
}

.con {
    white-space: nowrap;
    display: inline-block;
    animation-name: move;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

#moving-text h1 {
    font-size: 9vw;
    /* background-color: lightblue; */
    display: inline-block;
}

#gola {
    height: 70px;
    width: 70px;
    border-radius: 50%;
    display: inline-block;
    background-color: blueviolet;
    margin: 1vw 2vw;
}

@keyframes move {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-100%);
    }
}

#page2-bottom {
    height: 80vh;
    width: 100%;
    /* background-color: aliceblue; */
    padding: 4%;
    padding-top: 23%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    z-index: 9;
}

#page2-bottom h1 {
    font-size: 4vw;
    width: 60%;
    line-height: 4vw;
}

#bottom-part2 {
    width: 20%;
    /* background-color: aqua; */
}

#bottom-part2 img {
    width: 100%;
    border-radius: 15px;
}

#bottom-part2 p {
    font-weight: 200;
    margin-top: 2vw;
    font-size: 1vw;
}

#page2 #gooey {
    height: 32vw;
    width: 32vw;
    position: absolute;
    border-radius: 50%;
    background: linear-gradient(to top right, #3404d2ec, #67108f);
    /* background: linear-gradient(to top right,red,blue); */


    top: 58%;
    left: 25%;
    filter: blur(20px);
    animation-name: gooey;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;

}

@keyframes gooey {
    from {
        filter: blur(20px);
        transform: translate(10%, -10%) skew(0);
    }

    to {
        filter: blur(30px);
        transform: translate(-10%, 10%) skew(-12deg);
    }
}




#page3 {
    min-height: 100vh;
    width: 100%;
    background-color: #EFEAE3;
    padding-top: 14% ;
}

.elem {
    height: 100px;
    width: 100%;
    position: relative;
    border-bottom: 1px solid #38383864;
    overflow: hidden;
    display: flex;
    align-items: center;
    padding: 0 2vw;
}

.elem h1 {
    font-size: 3vw;
    position: relative;
    z-index: 9;
}

.elem .overlay {
    height: 100%;
    width: 100%;
    background-color: orange;
    position: absolute;
    left: 0;
    top: -100%;
    transition: all ease 0.25s;
}

.elem:hover .overlay {
    top: 0;
}

#isaiBhiFlexDenaHAi{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    text-align: right;
    z-index: 9;
}



#fixed {
    height: 30vw;
    width: 24vw;
    /* background-color: red; */
    border-radius: 15px;
    position: fixed;
    z-index: 99;
    left: 50%;
    top: 25%;
    display: none;
    background-size: cover;
    background-position: center;
}

#btn{
    border: 2px solid black;
    padding: 10px 10px;
    margin-left: 10px;
    border-radius: 25px;
    position: relative;
    z-index: 9;
    overflow: hidden;
}

#btn::after{
    content: "";
    position: absolute;
    background-color: black;
    width: 170px;
    height: 40px;
    left: 0px;
    top: 40px;
    transition: all ease 0.5s;
}

#btn:hover a{
    cursor: pointer;
    color: white;
    z-index: 9;
}

#btn a{
    color: black;
    position: relative;
    z-index: 9;
    text-decoration: none;
}

#btn:hover::after{
    top: 0px;
    transition: all ease 0.2s;
}

.btn{
    width: 100%;
    height: 130px;
    background-color: #EFEAE3;
    padding-top: 86px;
    padding-bottom: 130px;
}

#page-6{
    background-color: #EFEAE3;
    padding-top: 100px;
}
.mySwiper{
    overflow-x: clip;
}

.swiper-wrapper{
    display: flex;
    justify-content: space-around;
    height: 300px;
    width: 100%;
}
.swiper-slide{
    width: 70%;
    height: 90%;
    border-left: 1px solid grey;
}

.swiper-slide h3{
    display: flex;
   padding-left: 60px;
    padding-top: 30px;
}

.displayKi{
    display: flex;
    flex-direction: column;
    width: 30%;
    color: blue;
}

.displayKi h1{
    padding-left: 55px;
}
#page-4{
    background-color: #EFEAE3;
    width: 100%;
}

.container{
    background-color: black;
    width: 90%;
    margin: 0px auto;
    color: white;
    height: 600px;
    display: flex;
    justify-content: space-between;
    border-radius: 40px;
}

#box-1 h1{
    display: flex;
    flex-direction: column;
    font-size: 50px;
    position: relative;
}

#box-1 p{
    margin-top: 20px;
    margin-left: 67px;
}

#box-1{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

#box-2 img{
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
    width:100%;
    height: 100%;
}

#box-2{
    width: 50%;
}

#border{
    border-left: 2px solid blue;
    position: absolute;
    height: 59px;
    left: -16px;
    transition:  all ease normal 10s;
}

#box-1 h1:hover #border{
    top: 110px;
    transition:  all ease normal 10s;
}
#page5 {
    height: 400px;
    width: 100%;
    /* background-color: #EFEAE3; */
}

#footer {
    position: fixed;
    height: 400px;
    width: 100%;
    background-color: #000;
    color: #fff;
    z-index: 9;
    bottom: 0;
    display: flex;
    /* align-items: flex-end; */
    justify-content: flex-end;
    flex-direction: column;
    padding: 1vw 3vw;
}

#footer h1 {
    font-size: 160px;
    color: skyblue;
    border-bottom: 2px solid white;
    text-align: center;
}

#footer-div {
    height: 200px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
#bottom-div{
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    height: 66px;
    padding: 0px 95px;
    cursor: pointer;
    padding-top: 2px;
}

#bottom-div .FaceFont{
    background: blue;
    width: 31px;
    height: 32px;
    border-radius: 43px;
    padding: 7px 10px;
    display: flex;
    column-gap: 20px;
    align-items: baseline;
}

#flexDena{
    display: flex;
}

.withFont{
    display: flex;
    align-items: center;
    column-gap: 13px;

}

#input-feild input{
    position: absolute;
    top: 15%;
    right: 4%;
    padding: 15px;
    outline: none;
    border-radius: 25px;
    background: none;
}

#footer-div h3{
    font-size: 40px;
    position: absolute;
    top: 15%;
}

#golaiWali .gol{
    top: 48px;
    position: absolute;
    left: -25px;
    width: 35px;
    height: 39px;
}

#full-sc{
    height: 100vh;
    width: 100%;
    background-color: #00000070;
    position: fixed;
    z-index: 99;
    top: -100%;
    transition: all ease 2s;
}

#full-div1{
    height: 60%;
    width: 100%;
    background-color: #EFEAE3;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

@media (max-width: 700px) {

    #center {
        height: 70rem;
        width: 100%;
        /* background-color: orange; */
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        border-bottom: 1px solid #0000003c;
        padding-bottom: 2.5vw;
    }
    #page1 {
        min-height: 100vh;
        width: 100%;
        padding: 0 0vw;
    }
    

nav {
    padding: 2vw 3vw;
    background-color: #EFEAE3;
}

#nav-part2 {
    display: none;
}
nav h3{
    display: block;
    padding: 6px 20px;
    border: 2px solid #e7cfcf;
    padding-left: 40px;
    border-radius: 20px;
    font-weight: 200;
    cursor: pointer;
}
 
#center {
    height: 44rem;
    width: 100%;
    /* background-color: orange; */
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    border-bottom: 1px solid #0000003c;
    padding-bottom: 2.5vw;
    position: relative;
}

#left{
    position: absolute;
    top: 28rem;
    left: 1rem;
}

#left h3 {
    width: 60%;
    font-size: 25px;
    line-height: 24px;
    position: relative;
    z-index: 100;
}

#center h1 {
    font-size: 15vw;
    text-align: right;
    line-height: 12vw;
}


#haeding{
    width: 53%;
    position: absolute;
    z-index: 10;
    top: 50px;
    left: 15rem;
}

#hero-shape {
    position: absolute;
    width: 60vw;
    height: 36vw;
    right: 0;
    top: 60%;
}

#hero-1 {
    background-color: blueviolet;
    height: 100%;
    width: 100%;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    filter: blur(10px);
    position: absolute;
}

#hero-2 {
    background: linear-gradient(#5b0afeaf, #1221c4ab);

    height: 30vw;
    width: 30vw;
    border-radius: 50%;
    position: absolute;
    animation-name: anime2;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    filter: blur(25px);
}

#hero-3 {
    background: linear-gradient(#5b0afeaf, #1221c4ab);
    height: 30vw;
    position: absolute;
    width: 30vw;
    border-radius: 50%;
    filter: blur(25px);
    animation-name: anime1;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#page1 video {
    position: relative;
    border-radius: 30px;
    margin: 5vw 0px;
    width: 88%;
    margin-left: 2rem;
}
#gola {
 height: 55px;
 width: 50px;
 border-radius: 50%;
 display: inline-block;
 background-color: blueviolet;
 margin: -1vw 2vw;
 }
 #page2-bottom {
    height: 125vh;
    width: 100%;
    /* background-color: aliceblue; */
    padding: 9rem 4%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 9;
}

#page2-bottom h1 {
    font-size: 29px;
    width: 100%;
    line-height: 5vw;
}

#bottom-part2 {
    width: 100%;
    /* background-color: aqua; */
    padding-right: 13rem;
    padding-top: 3rem;
}

#bottom-part2 p{
    font-weight: 200;
    margin-top: 2vw;
    font-size: 1rem;
}

#page2 #gooey {
    height: 60vw;
    width: 70vw;
    position: absolute;
    border-radius: 50%;
    background: linear-gradient(to top right, #3404d2ec, #67108f);
    /* background: linear-gradient(to top right,red,blue); */
    top: 30%;
    left: 20%;
    filter: blur(20px);
    animation-name: gooey;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
}
.container {
    background-color: black;
    width: 90%;
    margin: 0px auto;
    color: white;
    height: 476px;
    display: flex;
    justify-content: space-between;
    border-radius: 40px;
}
#box-1 h1 {
    display: flex;
    flex-direction: column;
    font-size: 36px;
    position: relative;
}
#box-1 p {
    margin-top: 20px;
    margin-left: 21px;
    font-size: 13px;
}

#box-1 h1:hover #border{
    top: 60px;
    transition:  all ease normal 10s;
}
#footer h1 {
    font-size: 110px;
    line-height: 85px;
    color: skyblue;
    border-bottom: 2px solid white;
    text-align: center;
}

#footer-div h3 {
    font-size: 24px;
    position: absolute;
    top: 13%;
}
#footer-div {
    height: 200px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#full-div1 h5:nth-child(2){
    padding: 30px 0px;
}

#full-div1 h5:nth-child(3){
    padding-top: 92px;
    /* min-height: 8px; */
    display: flex;
    align-items: end;
    justify-content: end;
}

#full-div1{
    display: flex;
    justify-content: space-between;
    text-align: right;
}

#full-div1 h5 a{
    text-decoration: none;
    color: black;
}

#full-div1 h5{
    position: absolute;
    z-index: 99;
    top: 14rem;
    border: 2px #d7b0b0 solid;
    /* padding: 5px; */
    width: 100%;
    height: 34px;
    font-size: 26px;
    padding: 1px 0px;
    overflow: hidden;
}
#full-div1 h5::before {
    content: "";
    position: absolute;
    background-color: #000;
    transition: all ease 0.4s;
    top: -33px;
    width: 100%;
    height: 30px;
    transition: all ease 0.4s;
}

#full-div1 h5:hover::before {
    top: 0;
    border-radius: 0;
}

#full-div1 h5:hover a{
    color: white;
    cursor: pointer;
    z-index: 99;
    position: relative;
}

}

#loader{
    display: none;
    width:100%;
    height: 100%;
    background-color: skyblue;
    position: fixed;
    z-index: 1000;
    top: 0;
    transition: all ease 2s;
    display: flex;
    align-items: center;
    justify-content: center;
}

#loader h1{
    color: transparent;
    font-size: 4rem;
    background:linear-gradient(blue,blueviolet);
    -webkit-background-clip: text;
    position: absolute;
    opacity: 0;
    animation-name: load;
    animation-duration: 1s;
    animation-delay: 1s; 
    animation-timing-function: linear;
}

#loader h1:nth-child(2){
    animation-delay: 2s;
}
#loader h1:nth-child(3){
    animation-delay: 3s;
}

@keyframes load {
    0%{
        opacity: 0;
    }
    10%{
        opacity: 1;
    }
    90%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}