@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Lato", sans-serif;
}

.container{
    height: 100vh;
    background-color: #8c7ae6;
    display: flex;
    flex-basis: 100%;
    justify-content: center;
    align-items: center;
    column-gap: 20px;
}

.out-of-Form{
    border-radius: 12px;
    background-color: #0097e6;
    width: 30%;
    height: 80%;
    display: block;
}

.in-form h1{
    text-align: center;
    color: blueviolet;
    font-size: 45px;
    margin-top: 10px;
}

.Input-login-feild{
    width: 93%;
    height: 40px;
    background-color: #8c7ae6;
    margin-top: 20px;
    margin-left: 10px;
} 

.Input-login-feild input{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    padding-left: 10px;
    border: 2px solid pink;
    outline: none;
}

.input-emial-feild{
    margin-left: 10px;
    height: 40px;
    background-color: #8c7ae6;
    margin-top: 20px;
    width: 93%;
} 

.input-emial-feild input{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    padding-left: 10px;
    border: 2px solid pink;
    outline: none;
}

#input-email::placeholder{
    color:#0097e6;
}

#input-code::placeholder{
    color: #0097e6;
}

.foget-password{
    text-align: center;
    font-size: 20px;
    padding-top: 10px;
}

.btn-login button{
    margin-top: 10px;
    font-size: 20px;
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
    height: 30px;
    color: white;
    background-color: blue;
    /* border: 2px solid brown; */
    border: none;
    text-align: center;
    padding-bottom: 2px;
    transition: all ease-out 0.3s ;
}

.span-is-in{
    margin-top: 20px;
    font-size: 20px;
    padding-left: 4vw;
}

button:hover{
    background-color: skyblue;
    color: black;
    transition: all ease-out 0.3s ;
    cursor: pointer;
}

.line{
    border-bottom: 1px solid grey;
    width: 80%;
    margin-left: 10%;
    margin-top: 20px;
    text-align: center;
    position: relative;
}

.line::before{
    content: "or";
    position: absolute;
    /* top: -13px; */
    transform: translate(-50% ,-60%) ;
    font-size: 20px;
}

.facebook-login:hover{
    cursor: pointer;
    background-color: skyblue;
    transition:  all 0.3s ease-in;
    color: black;
}

.facebook-login{
    background-color: blue;
    color: white;
    height: 50px;
    text-align: center;
    margin-top: 20px;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 10px;
    transition:  all 0.3s ease-in;
}

.facebook-login i{
    font-size: 35px;
}

.Google-login{
    /* background-color: blue; */
    color: white;
    height: 50px;
    text-align: center;
    margin-top: 20px;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 10px;
    transition:  all 0.3s ease-in;
    border: 1px solid gray;
}

.Google-login i{
    font-size: 35px;
}


.Google-login:hover{
    cursor: pointer;
    background-color: wheat;
    color: black;
}

.Signup-container{
    height: 90%;
    display: none;
}